USE [campus-bites]
GO
/****** Object:  Table [dbo].[RecipeIngredients]    Script Date: 11/5/2025 11:32:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RecipeIngredients](
	[RecipeId] [int] NOT NULL,
	[IngredientId] [int] NOT NULL,
	[Quantity] [decimal](18, 3) NOT NULL,
	[Unit] [nvarchar](20) NOT NULL,
	[Notes] [nvarchar](200) NULL,
 CONSTRAINT [PK_RecipeIngredients] PRIMARY KEY CLUSTERED 
(
	[RecipeId] ASC,
	[IngredientId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Recipes]    Script Date: 11/5/2025 11:32:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Recipes](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[CategoryId] [int] NOT NULL,
	[Instructions] [nvarchar](4000) NOT NULL,
	[Tips] [nvarchar](1000) NULL,
	[PreparationTime] [int] NULL,
	[CookTime] [int] NULL,
	[Servings] [int] NULL,
	[Status] [nvarchar](max) NOT NULL,
	[OwnerId] [nvarchar](max) NOT NULL,
	[CreatedDate] [datetime2](7) NULL,
	[LastModifiedDate] [datetime2](7) NULL,
 CONSTRAINT [PK_Recipes] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[RecipeIngredients] ([RecipeId], [IngredientId], [Quantity], [Unit], [Notes]) VALUES (1, 17, CAST(3.000 AS Decimal(18, 3)), N'tablespoons', NULL)
INSERT [dbo].[RecipeIngredients] ([RecipeId], [IngredientId], [Quantity], [Unit], [Notes]) VALUES (1, 23, CAST(1.000 AS Decimal(18, 3)), N'teaspoon', NULL)
INSERT [dbo].[RecipeIngredients] ([RecipeId], [IngredientId], [Quantity], [Unit], [Notes]) VALUES (1, 24, CAST(0.500 AS Decimal(18, 3)), N'teaspoon', N'freshly ground')
GO
SET IDENTITY_INSERT [dbo].[Recipes] ON 

SET IDENTITY_INSERT [dbo].[Recipes] OFF
GO
ALTER TABLE [dbo].[RecipeIngredients]  WITH CHECK ADD  CONSTRAINT [FK_RecipeIngredient_IngredientID] FOREIGN KEY([IngredientId])
REFERENCES [dbo].[Ingredients] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[RecipeIngredients] CHECK CONSTRAINT [FK_RecipeIngredient_IngredientID]
GO
ALTER TABLE [dbo].[RecipeIngredients]  WITH CHECK ADD  CONSTRAINT [FK_RecipeIngredient_RecipeID] FOREIGN KEY([RecipeId])
REFERENCES [dbo].[Recipes] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[RecipeIngredients] CHECK CONSTRAINT [FK_RecipeIngredient_RecipeID]
GO
ALTER TABLE [dbo].[Recipes]  WITH CHECK ADD  CONSTRAINT [FK_Recipe_CategoryID] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Categories] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Recipes] CHECK CONSTRAINT [FK_Recipe_CategoryID]
GO
